html {
  width: 100%;
  font-size: 14px;
}
body {
  text-align: center;
  width: 100%;
  font-family: "Noto Sans", "Segoe UI", Roboto, Helvetica, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  margin: 0;
  color: #555;
  background-color: #fbfbfb;
}
a {
  text-decoration: none;
  color: #08c;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: .1rem solid #bbbbbb;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
#name-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#fullname {
  font-size: 2.2rem;
}
#jobtitle {
  font-size: 1.2rem;
  margin-top: .8rem;
}
#contact {
  font-size: 1rem;
  padding-top: 1rem;
}
.contact-item:nth-child(1) {
  margin-top: 0;
}
.contact-item {
  margin-top: .4rem;
}
section {
  display: flex;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: .2rem;
  border-bottom: .1rem solid #bbbbbb;
  hyphens: auto;
}
.section-title {
  font-size: 1.6rem;
  text-align: left;
  min-width: 10rem;
}
.section-content {
}
.section-flex {
  display: flex;
  flex-wrap: wrap;
}
.block {
  margin-bottom: 2rem;
}
.block-square {
  width: 18rem;
}
.block-square:nth-last-child(2) {
  margin-bottom: 0;
}
.block:last-child {
  margin-bottom: 0;
}
.block-title {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  font-weight: bold;
}
.block-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #bbbbbb;
}
.block-content {
  font-size: 1rem;
  line-height: 1.5;
}
footer {
  color: #bbbbbb;
  font-size: 1rem;
  min-height: 3rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media print {
  html {
    font-size: 12px;
  }
  .print {
    display: none;
  }
}
@media screen and (max-width: 48rem) {
  html {
    font-size: 12px;
  }
  .container {
    padding-left: .4rem;
    padding-right: .4rem;
  }
  header {
    display: block;
    padding-bottom: 1rem;
  }
  #name-wrapper {
    text-align: center;
    padding-bottom: 2rem;
  }
  #contact {
    padding-top: 1rem;
    border-top: .1rem solid #bbbbbb;
  }
  .contact-item {
    padding-top: .2rem;
    padding-left: .4rem;
  }
  section {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section-flex {
    display: block;
  }
  .block-square {
  }
  .block-square:nth-last-child(2) {
    margin-bottom: 2rem;
  }
}
