---
layout: null
title: Résumé
permalink: /resume.html
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.data.resume.title }}</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/opensans.css">
    <link rel="stylesheet" href="/css/resume.css">
  </head>
  <body>
    <div class="container">
      <div class="fullname">
        {{ site.data.resume.name }}
      </div>
      <div class="contact font-mid">
        <div class="contact-item">
          <i class="fa fa-envelope aria-hidden="true></i> {{ site.data.resume.email }}
        </div>
        <div class="contact-item">
          <i class="fa fa-phone-square aria-hidden="true></i> {{ site.data.resume.phone }}
        </div>
        <div class="contact-item">
          <i class="fa fa-globe aria-hidden="true></i> {{ site.data.resume.website }}
        </div>
        <div class="contact-item">
          <i class="fa fa-github aria-hidden="true></i> github.com/{{ site.data.resume.github }}
        </div>
      </div>
      <div class="section">
        <div class="section-title">
          EDUCATION
        </div>
        <div class="section-content">
          {% for edu in site.data.resume.education %}
          <div class="block">
            <div class="block-title">
              {{ edu.university }}
            </div>
            <div class="block-subtitle">
              {{ edu.duration }} | {{ edu.location }}
            </div>
            <div class="block-content">
              {{ edu.major }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="section">
        <div class="section-title">
          SKILLS
        </div>
        <div class="section-content">
          {% for skill in site.data.resume.skills %}
          <div class="block">
            <div class="block-subtitle">
              {{ skill.title }}
            </div>
            <div class="block-content">
              {{ skill.items }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="section">
        <div class="section-title">
          WORK EXPERIENCE
        </div>
        <div class="section-content">
          {% for exp in site.data.resume.work_exp %}
          <div class="block">
            <div class="block-title">
              {{ exp.title }}
            </div>
            <div class="block-subtitle">
              {{ exp.duration }} | {{ exp.company }}
            </div>
            <div class="block-content">
              {{ exp.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="section">
        <div class="section-title">
          PROJECTS
        </div>
        <div class="section-content">
          {% for project in site.data.resume.projects %}
          <div class="block">
            <div class="block-title">
              {{ project.name }}
            </div>
            <div class="block-subtitle">
              {{ project.description }}
            </div>
            <div class="block-content">
              {{ project.contribution }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
    <footer>
      Résumé made with <i class="fa fa-heart aria-hidden="true></i> by David Zhang. <a href="https://github.com/crispgm/resume">GitHub</a>
    </footer>
  </body>
</html>