---
layout: null
permalink: /resume.html
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.data.resume.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/resume.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div id="name-wrapper">
          <div id="fullname">
            {{ site.data.resume.name }}
          </div>
          <div id="jobtitle">
            {{ site.data.resume.jobtitle }}
          </div>
        </div>
        <div id="contact">
          {% for item in site.data.resume.contact %}
          <div class="contact-item">
            <i class="fa {{ item.icon }} aria-hidden="true></i> {{ item.text }}
          </div>
          {% endfor %}
        </div>
      </header>
      
      <section id="education">
        <div class="section-title">
          Education
        </div>
        <div class="section-content">
          {% for edu in site.data.resume.education %}
          <div class="block">
            <div class="block-title">
              {{ edu.university }}
            </div>
            <div class="block-subtitle">
              {{ edu.duration }} | {{ edu.location }}
            </div>
            <div class="block-content">
              {{ edu.major }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="skills">
        <div class="section-title">
          Skills
        </div>
        <div class="section-content">
          {% for skill in site.data.resume.skills %}
          <div class="block">
            <div class="block-title">
              {{ skill.title }}
            </div>
            <div class="block-content">
              {{ skill.items }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="experience">
        <div class="section-title">
          Experience
        </div>
        <div class="section-content">
          {% for exp in site.data.resume.experience %}
          <div class="block">
            <div class="block-title">
              {{ exp.title }}
            </div>
            <div class="block-subtitle">
              {{ exp.duration }} | {{ exp.company }}
            </div>
            <div class="block-content">
              {{ exp.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="projects">
        <div class="section-title">
          Projects
        </div>
        <div class="section-content">
          {% for project in site.data.resume.projects %}
          <div class="block">
            <div class="block-title">
              {{ project.name }}
            </div>
            <div class="block-subtitle">
              {{ project.contribution }}
            </div>
            <div class="block-content">
              {{ project.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="languages">
        <div class="section-title">
          Languages
        </div>
        <div class="section-content section-flex">
          {% for language in site.data.resume.languages %}
          <div class="block block-square">
            <div class="block-title">
              {{ language.name }}
            </div>
            <div class="block-content">
              {{ language.proficiency }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

    </div>
    <footer>
      Made with <i class="fa fa-heart aria-hidden="true></i> by <a href="https://github.com/crispgm/resume">David Zhang</a> <span class="print">( <a href="javascript:window.print()">PDF</a> )</span>
    </footer>
  </body>
</html>
